<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Lorenz Reinhart
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~
  -->
<app name="org.sardineproject.sbyod" origin="Sardine Project" version="${project.version}"
     title="Sardine-BYOD Application" category="Traffic Steering"
     url="https://github.com/lsinfo3/2016-itc-sbyod-onos-app"
     featuresRepo="mvn:${project.groupId}/${project.artifactId}/${project.version}/xml/features"
     features="${project.artifactId}" apps="">
    <description>A personalized Secure-By-Default Bring Your Own Device Solution.</description>
    <artifact>mvn:${project.groupId}/${project.artifactId}/${project.version}</artifact>
    <artifact>mvn:com.ecwid.consul/consul-api/1.1.9</artifact>
</app>